@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
  --header-height: 7.5rem;
  --hue-color: 215;
  --sat: 95%;
  --section-bg: hsl(var(--hue-color), 100%, 96%, 1);
  --first-color: hsl(var(--hue-color), var(--sat), 50%);
  --first-color-alt: hsl(var(--hue-color), var(--sat), 36%);
  --title-color: hsl(var(--hue-color), 12%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 35%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --container-color: #fff;
  --site-mode: hsl(var(--hue-color), 29%, 16%);
  --site-i: #fff;
  --btn-color: hsl(var(--hue-color), var(--sat), 50%);
  --body-font: "DM Sans", sans-serif;
  --h1-font-size: 3rem;
  --normal-font-size: 1.5rem;
  --tiny-font-size: 1rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body.dark-theme {
  /* HSL color mode */
  --section-bg: hsl(var(--hue-color), var(--sat), 45%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --site-mode: #fff;
  --site-i: hsl(var(--hue-color), 29%, 16%);
  --btn-color: #fff;
}

@media (max-width: 768px) {
  :root {
    --h1-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --tiny-font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  :root {
    --h1-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --tiny-font-size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: var(--body-font);
  background-color: var(--container-color);
  position: relative;
  min-height: 100vh;
  cursor: none;
}

html body img {
  max-width: 100%;
  height: auto;
}

html body .body-wrapper {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

html a:hover {
  cursor: none;
}

.section {
  padding: 3.75rem 0;
}

.section-wrapper {
  max-width: 42rem;
}

.section-title {
  font-size: --h1-font-size;
  color: var(--title-color);
}

.section-subtitle {
  font-size: var(--tiny-font-size);
  font-weight: 400;
  color: var(--title-color);
  margin: 24px 0 16px;
}

.section button:hover {
  cursor: none;
}

.section .content {
  position: relative;
  top: 80px;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.section .content.active {
  top: 0;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.site-btn {
  border: none;
  padding: 1rem 1.875rem;
  border-radius: 4px;
  background-color: var(--btn-color);
  color: var(--container-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-btn:hover {
  background-color: var(--first-color-alt);
  cursor: none;
}

.dark-button {
  position: fixed;
  z-index: 999;
  bottom: 5%;
  left: 5%;
  background-color: var(--site-mode);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dark-button i.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--site-i);
  font-size: 1.2rem;
}

.site-arrow {
  position: fixed;
  z-index: 999;
  bottom: 5%;
  right: 5%;
  background-color: var(--site-mode);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.site-arrow i.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: var(--site-i);
}

header,
main,
footer,
.dark-button,
.site-arrow,
.outer-cursor,
.inner-cursor {
  opacity: 0;
  pointer-events: none;
  display: none;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3.125rem;
}

.loader .circle {
  display: inline-block;
  background-color: var(--first-color-alt);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: grow 1s linear infinite;
          animation: grow 1s linear infinite;
}

.loader .circle:nth-child(2) {
  background-color: var(--first-color);
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.loader .circle:nth-child(3) {
  background-color: var(--section-bg);
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--first-color)));
  background: linear-gradient(transparent, var(--first-color));
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--first-color-alt)));
  background: linear-gradient(transparent, var(--first-color-alt));
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--title-color);
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  z-index: 999;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  z-index: 999;
  left: 10px;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border: 2px solid var(--title-color);
  background-color: --body-color;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sign-in-wrapper,
.sign-up-wrapper {
  display: none;
  position: fixed;
  z-index: 998;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  width: 100%;
  height: 100%;
}

.signIn {
  background-color: #fff;
  width: 25rem;
  padding: 25px 30px;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.signIn .close_btn_signIn,
.signIn .close_btn_signUp {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: var(--first-color);
  border-radius: 50%;
  float: right;
}

.signIn .close_btn_signIn > i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.signIn .close_btn_signUp > i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.signIn_title {
  text-align: center;
  margin-top: 30px;
  font-size: var(--normal-font-size);
  color: #000;
}

.signIn_form {
  margin-top: 20px;
}

.signIn_form_title {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

.signIn_form_element > input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  caret-color: var(--first-color);
  outline: none;
}

.signIn_form_element > .select {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.signIn_form_element > input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.signIn_form_element > input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.signIn_form_element > input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.signIn_form_element > input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.signIn_form .signIn_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.signIn_form .signIn_checkbox input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}

.signIn_btn {
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 20px 0;
}

.signIn_btn:hover {
  background-color: var(--first-color-alt);
}

.signIn_forgot {
  float: right;
}

.header {
  background: url(/assets/img/header-bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
  height: calc(var(--header-height) + 63.125rem);
  width: 100%;
}

.header-content {
  position: absolute;
  left: 50%;
  top: 6.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: #fff;
}

.header-title {
  font-size: var(--h1-font-size);
  font-weight: 700;
}

.header-subtitle {
  font-size: var(--tiny-font-size);
  font-weight: 400;
  margin: 1.5rem 0 3.375rem;
}

.header .overlay {
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.54);
}

.header .navbar {
  top: 0;
  position: fixed;
  z-index: var(--z-fixed);
  width: 100%;
  background-color: var(--container-color);
  height: var(--header-height);
}

.header .navbar-brand {
  z-index: 50;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: 700;
}

.header .navbar-menu {
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.header .navbar .nav-item.active > .nav-link {
  color: var(--first-color);
}

.header .navbar .nav-link {
  text-align: center;
  font-size: var(--tiny-font-size);
  color: var(--title-color);
  font-weight: 400;
}

.header .navbar .nav-link-btn {
  background-color: var(--btn-color);
  color: var(--container-color);
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  white-space: nowrap;
  width: 100%;
}

.header .navbar .nav-link-btn:hover {
  background-color: var(--first-color-alt);
}

.desktop-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav {
  display: block;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 350px;
  background-color: var(--section-bg);
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.mobile-nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav .navbar-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.menu-toggle {
  position: fixed;
  z-index: 999;
  width: 1.7rem;
  height: 1.7rem;
  right: 7%;
  top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-toggle > span {
  width: 100%;
  height: 2px;
  background-color: var(--title-color);
}

.menu-toggle.active span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  background-color: var(--title-color);
  top: 50%;
  left: 50%;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--title-color);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.statistics {
  position: absolute;
  z-index: 99;
  bottom: -50px;
  padding: 3.5rem;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 11px 35px -15px rgba(92, 111, 139, 0.6);
          box-shadow: 0px 11px 35px -15px rgba(92, 111, 139, 0.6);
}

.statistics-wrapper {
  width: 100%;
  position: relative;
}

.statistics-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.statistics-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.statistics-text {
  color: var(--first-color);
  font-size: var(--tiny-font-size);
  font-weight: 400;
}

.course-wrapper {
  padding-top: calc(var(--header-height) + 2.5rem);
}

.course-wrapper .course-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--title-color);
}

.work {
  padding-bottom: var(--header-height);
}

.work-wrapper {
  max-width: 30rem;
}

.work-content {
  text-align: center;
  margin-top: 3rem;
}

.work-card {
  height: 13.5rem;
}

.work-title {
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--title-color);
  margin: 1.5rem 0 1rem;
}

.work-text {
  font-weight: 400;
  font-size: var(--tiny-font-size);
  color: var(--text-color);
}

.courses {
  background-color: var(--section-bg);
}

.courses-wrapper {
  max-width: 42rem;
}

.courses-content {
  margin: 3rem 0 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses-card {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 6px;
  height: 500px;
  margin-bottom: 1.4rem;
  width: 32%;
}

.courses-img {
  overflow: hidden;
  border-radius: 4px;
}

.courses-img img {
  -webkit-transition: 1s;
  transition: 1s;
}

.courses-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.courses-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-numbers i {
  font-size: 1rem;
  padding: 7px 9px;
  border: 1px solid #C8C8C8;
  border-radius: 50%;
  color: var(--first-color);
  margin-right: 0.5rem;
}

.courses-numbers .number {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}

.courses-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.8rem 0 1rem;
}

.courses-title {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: 700;
}

.courses-price {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: 700;
}

.courses-text {
  font-size: var(--tiny-font-size);
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5rem;
}

.page {
  padding-top: var(--header-height);
  background-color: var(--container-color);
}

.page-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-numbers > i {
  color: var(--text-color);
  font-size: 1rem;
}

.page-numbers > i.uil-favorite {
  color: var(--first-color);
}

.page-numbers > .number {
  font-size: 0.9rem;
  color: var(--text-color);
}

.page-bottom {
  background-color: var(--section-bg);
  padding: 4.5rem;
  margin-top: var(--header-height);
}

.page-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-deck {
  margin-top: 3rem;
  overflow: hidden;
}

.card {
  position: relative;
}

.card-img {
  overflow: hidden;
}

.card-img::before {
  content: "10 APR";
  color: #fff;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 6px 0 0 0;
  background-color: var(--first-color);
  z-index: 10;
  font-size: 1.125rem;
}

.card-img-top {
  -webkit-transition: 1s;
  transition: 1s;
}

.card-img-top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.card-text {
  font-size: var(--tiny-font-size);
  color: var(--text-color);
  margin-bottom: var(--normal-font-size);
}

.blog-wrapper {
  max-width: 26rem;
}

.blog-deck {
  margin-bottom: 3rem;
}

.blog-deck .blog-img {
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  border-radius: 4px;
}

.contact {
  padding: 5rem 0;
}

.contact .container {
  position: relative;
}

.contact-wrapper {
  max-width: 34rem;
  margin-bottom: 3rem;
  text-align: center;
}

.contact .review-content {
  max-width: 50%;
  width: calc(100vw - 4rem);
  padding: 0.5rem 0;
  margin: 0 auto;
  overflow: hidden;
}

.contact .review-content .review-arrow {
  z-index: 100;
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--first-color);
  border: 1px solid var(--first-color);
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .review-content .review-arrow:hover {
  color: #fff;
  background-color: var(--first-color);
}

.contact .review-content .review-arrow-left {
  left: 10%;
}

.contact .review-content .review-arrow-right {
  right: 10%;
}

.contact .review-content .review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact .review-content .review-info .review-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 100%;
  text-align: center;
}

.contact .review-content .review-info .review-inner .review-headshot {
  inline-size: 15rem;
  block-size: 15rem;
}

.contact .review-content .review-info .review-inner .review-headshot img {
  inline-size: inherit;
  block-size: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1%;
}

.contact .review-content .review-info .review-inner .review-name {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: 500;
  margin: 0.5rem 0;
}

.contact .review-content .review-info .review-inner .review-status {
  color: var(--text-color);
  font-size: calc(var(--tiny-font-size) - 0.1rem);
}

.contact .review-content .review-info .review-inner .review-description {
  color: var(--text-color);
  font-size: var(--tiny-font-size);
}

.contact .form {
  max-width: 506px;
  width: 100%;
}

.contact .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--first-color);
  max-width: 58.6rem;
  margin: 0 auto;
  padding: 3rem 0 4rem;
  border-radius: 4px;
  margin-top: var(--header-height);
}

.contact .form .my-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px 8px 24px;
  border-radius: 4px;
}

.contact .form-input {
  width: 100%;
  border: none;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 400;
  line-height: calc(22 / 14 * 100%);
  caret-color: var(--first-color);
}

.contact .form-input:focus {
  outline: none;
}

.contact .form-btn {
  border: none;
  min-height: 3rem;
  min-width: 7.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--first-color);
  color: #fff;
  border-radius: 4px;
  padding: 0;
}

.form-wrapper .contact-wrapper :is(.section-title, .section-subtitle) {
  color: #fff;
}

.footer {
  background-color: var(--section-bg);
  padding: 5rem 0;
}

.footer-title {
  font-weight: 700;
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

.footer-text {
  font-weight: 400;
  color: var(--text-color);
  font-size: .825rem;
  line-height: 2;
}

.footer-icon {
  margin-top: 1.5rem;
}

.footer-btn {
  border: none;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 5px;
  color: var(--first-color);
}

.footer-btn:hover {
  background-color: var(--first-color);
  color: #fff;
}

.footer-menu {
  list-style: none;
  padding: 0;
}

.footer-item {
  line-height: 2;
}

.footer-link {
  color: var(--text-color);
}

.footer-link > i {
  color: var(--first-color);
}

.footer-link > i.footer-contact-icon {
  color: var(--title-color);
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .header {
    height: calc(var(--header-height) + 43.125rem);
  }
  .header .navbar {
    height: 6.25rem;
  }
  .mobile-nav .navbar-brand {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
  .mobile-nav .nav-link-btn {
    margin-top: 10px;
  }
  .menu-toggle {
    top: 5.5%;
  }
  .section-title {
    font-size: 1.6rem;
  }
  .section-subtitle {
    margin: 0;
    font-size: 0.75rem;
  }
  .section .statistics {
    padding: 2rem;
    bottom: 0;
  }
  .section .statistics-title {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  .section .statistics-text {
    margin: 0;
    font-size: 11px;
  }
  .section .site-btn {
    margin-bottom: 3rem;
  }
  .section .card-body {
    padding: 0.5rem;
  }
  .section .card-body .number {
    font-size: 0.75rem;
  }
  .section .card-img::before {
    width: 2rem;
    height: 2rem;
    font-size: 0.6875rem;
  }
  .section .card-title {
    font-size: 0.8rem;
  }
  .section .card-text {
    font-size: 0.65rem;
    margin-bottom: 0.1rem;
  }
  .section .page-bottom {
    padding: 1.5rem;
  }
  .section .form {
    max-width: 20.625rem;
    margin-top: 1.25rem;
  }
  .section .form-wrapper {
    margin-top: 2rem;
  }
  .section .form-btn {
    font-size: 0.875rem;
    min-height: 2.2rem;
    min-width: 6rem;
  }
  .section .courses-card {
    width: calc(50% - 10px);
    height: 470px;
  }
  .work {
    padding: 5rem 0;
  }
  .work-card {
    margin-bottom: 3.125rem;
  }
  .blog-link {
    font-size: 0.625rem;
  }
  .site-btn {
    font-size: 0.75rem;
  }
  .contact {
    padding: 1rem 0 3rem;
  }
  .contact-wrapper {
    max-width: 25rem;
  }
  .footer-wrapper {
    row-gap: 3rem;
  }
  .footer-wrapper .footer-link {
    font-size: 0.75rem;
  }
  .footer-wrapper .footer-item {
    line-height: 1.2;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    top: 4%;
  }
  .header {
    height: calc(var(--header-height) + 36.125rem);
  }
  .header-content {
    top: 3.5%;
  }
  .header-title {
    font-size: 1.5rem;
  }
  .header-subtitle {
    font-size: 0.8rem;
  }
  .header .navbar {
    height: 5rem;
  }
  .section-wrapper {
    max-width: 25rem;
  }
  .section .course-wrapper {
    padding-top: calc(var(--header-height));
  }
  .section .course-text {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  .section .statistics {
    padding: 1rem;
  }
  .section .statistics-title {
    font-size: 0.8rem;
  }
  .section .courses-card {
    width: 100%;
    height: auto;
  }
  .section .review-content {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .section .statistics {
    padding: 1rem;
  }
  .section .page-bottom {
    margin-top: 4rem;
  }
  .section .form {
    max-width: 90%;
  }
  .section .form-btn {
    min-width: 5rem;
    min-height: 2rem;
  }
  .section .form .my-form {
    padding: 6px;
  }
  .section .site-btn {
    padding: 0.8rem 1.5rem;
  }
  .contact .review-content {
    max-width: 100%;
  }
}
